#main{
display:flex;
}

.apple{
background-color:green;
display:flex; 
flex-direction:row;
justify-content:center;
text-align:center;
margin:20px;
padding:20px;
order:3;

}

.watermelon{
background-color:yellow;
display:flex;
flex-direction:row;
justify-content:center;
text-align:center;
margin:10px;
padding:10px;
order:2;

}

#mango{
background-color:blue;
display:flex; row;
flex-direction:column;
justify-content:center;
text-align:center;
margin:10px;
padding:10px;
order:1;
}

.almond{
background-color:pink;
color:blue;
display:flex;
flex-direction:column;
justify-content:center;
text-align:center;
margin:15px;
padding:15px;
order:4;
}

.shivpravathi{
background-color:hotpink;
margin:20px;
padding:20px;
height:60px;
text-align:cenetr;
display:flex; row;
justify-content:center;
flex-direction:row;
order:5;
}

#radhekrishna{
background-color:violet;
margin:20px;
padding:20px;
height:60px;
text-align:cenetr;
display:flex; row;
justify-content:center;
flex-direction:column;

}
.container{
display:flex;
margin:20px;    
}

.image-container{
background-image: url("image5.png");
background-repeat: no-repeat;
height:1000px;
width:1000px;
text-align: center;
justify-content: center;
}







