#main{
display:flex; row;
flex-direction:column;
text-align:center;
justify-content:center;
 
width:100%;
}
.two{
background-color:blue;
height:200px;

text-align:center;
display:flex;
flex-direction:row;
justify-content:center;
order:2;

}
.three{
background-color:violet;

height:200px;
text-align:center;
order:1;
}
.four{
background-color:green;

height:200px;
text-align:center;
}
.one{
background-color:red;
}





